:root {
    --clr-first: rgb(253, 129, 129);
    --clr-second: rgb(255, 208, 155);
    --clr-third: rgb(255, 222, 160);
    --clr-main: rgb(0, 0, 0);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.3;
    font-size: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin-bottom: 1em;
}

h1 {
    line-height: 1;
}

header {
    background-color: var(--clr-main);
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10rem 0;
}

section {
    padding: 3rem 0;
}

img {
    display: none;
    max-width: 100%;
    margin: 0 1em;
}

footer {
    margin: 0;
    padding: 3rem 0;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav {
    margin: 0;
    padding: 1rem 0;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav a {
    margin: 0 0.8em;
    transition: border-bottom 100ms ease-in-out;
    cursor: pointer;
    opacity: 0.7;
}

nav a:hover {
    border-bottom: 5px solid rebeccapurple;
    padding-bottom: 0.7rem;
}

.split {
    display: flex;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.container--narrow {
    max-width: 80rem 0;
}

.first {
    background-color: var(--clr-first);
    color: rgb(0, 0, 0);
}

.second {
    background-color: var(--clr-second);
    color: rgb(0, 0, 0);
}

.mobileImage {
    display: block;
    margin-top: 3em;
}

.third {
    background-color: var(--clr-third);
}

@media only screen and (min-width: 1000px) {
    img {
        display: block;
    }
    .mobileImage {
        display: none;
    }
}